<!DOCTYPE html>
<html lang="en">

<link>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Background remover</title>
<script type="module" src="/static/index.js"></script>
<link rel="stylesheet" href="/static/index.css" type="text/css">
</head>

<body>
  <form method="POST" enctype="multipart/form-data">
    <label>Image (max 10mb)
      <input name="img" type="file" accept="image/*">
    </label>
    <img>
    <button hidden>Remove Background</button>
  </form>
</body>

</html>